.inicioSesionImagenes{
    position: absolute;
    padding: 150px 0 0 115px;
}

.inicioSesionImagenes img{
    border-radius: 5%;
}


.inicioSesionDatos{
    padding: 60px 100px 15px 900px;
}

.inicioSesionDatos input {
    width: 400px;
    height: 40px;
}

.botonInicio{
    text-decoration: none;
    color: rgb(255, 163, 171);
    background-color: var(--logo);
    width: 400px;
    height: 50px;
    border: 1px solid;
    border-radius: 15px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.botonInicio:hover{
    color: var(--btnPresionados);
    background-color: white;
}



