/*Colores----------------------------------------------------------------------------------------------------*/
:root{
    --botones: rgb(255, 163, 171);
    --input: rgb(240, 238, 239);
}


/*Logo----------------------------------------------------------------------------------------------------*/
.logo{
    position: absolute;
    padding: 10px 0 0 10px;
}

.logo img{
    width: 230px;
    height: auto;
}


/*Barra Registro----------------------------------------------------------------------------------------------------*/
.barraRegistro{
    position: absolute;
    color: whitesmoke;
    font-size: 70px;
    background-color: var(--botones);
    width: 100%;
    text-align: right;
}

.barraRegistro p{
    padding-right: 30px;
}


/*Datos----------------------------------------------------------------------------------------------------*/
.datosIzquierda{
    padding: 250px 100px 15px 100px;
    position: fixed;
}

.datosDerecha{
    padding: 200px 100px 15px 800px;
}

.datosIzquierda input, .datosDerecha input{
    width: 400px;
    height: 40px;
    border: 1px solid #ccc; /* Color del borde */
    border-radius: 12px; /* Bordes redondeados */
    background-color: var(--input); /* Color de fondo rosa */
    padding: 20px; /* Espaciado interno */
}

.datosIzquierda input::placeholder, .datosDerecha input::placeholder{
    color: #707070; /* Color del placeholder */
    text-align: center;
}

.datosIzquierda div, .datosDerecha div{
    padding-bottom: 15px;
}







.botonInicio{
    text-decoration: none;
    color: whitesmoke;
    background-color: var(--botones);
    width: 400px;
    height: 50px;
    border: 1px solid;
    border-radius: 15px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
}

.botonInicio:hover{
    color: var(--botones);
    background-color: whitesmoke;
}

.botonRegistrate{
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
    background-color: var(--botones);
    padding: 12px 35px;
    border: 1px solid;
    border-radius: 15px;
    display: inline-block;
    font-weight: 300;
    transition: background-color .3s;
    margin-left: 20px;
}

.botonRegistrate:hover{
    color: var(--botones);
    background-color: whitesmoke;
}

.divInline{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

