.navbarCustom {
  background-color: pink;
  position: relative;
  padding: 1 20px; /* Ajusta el padding lateral según sea necesario */
}

.navContainer {
  width: 100%;
  max-width: 1200px; /* Ajusta el valor según necesites */
  margin: 0 auto; /* Centra el contenedor */
}

.logoContainer {
  position: absolute;
  top: 10%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Alinea el logo al centro */
  z-index: 1; /* Asegura que el logo esté encima del navbar */
}
  
.logoImage {
  width: 190px;
  height: auto;
}

.customButton {
  border: none; /* Elimina el contorno del botón */
  background-color: transparent; /* Cambia el color de fondo si es necesario */
  color: black; /* Cambia el color del texto */
  font-weight: bold; /* Aumenta el grosor de la fuente */
  margin-right: 100px; /* Mantiene el margen a la derecha que tenías */
}

.customButton:last-child {
  margin-right: 0; /* Elimina el margen en el último botón */
}

.customButton:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Cambia el fondo al pasar el mouse */
}

.link {
  text-decoration: none;
  color: inherit;
}