
/*
.small-image {
  width: 100%; 
  height: auto; 
}
.card {
  
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  background-color: #fff; 
  transition: transform 0.2s; 
}

.card:hover {
  transform: scale(1.1); 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
*/
.card-container {
  padding: 10px;
  margin: 0; 
  flex-grow: 1; /* Esto permitirá que el contenedor de tarjetas crezca y ocupe el espacio restante */
  
  background-color: transparent; /* Quita el fondo blanco del Card completo si necesario */
  border: none; /* Quita bordes si los tiene */
}



.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinea las publicaciones a la izquierda */
  margin: 0; /* Elimina margen extra */

}

.col-md-4 {
  padding-left: 10px; /* Elimina padding entre columnas */
  margin-bottom: 0; /* Ajusta el margen inferior si deseas algo de espacio vertical */
} 

.small-image {
  width: 100%; /* Ajusta la imagen al ancho de la tarjeta */
  height: 300px; /* Fija la altura para que todas tengan el mismo tamaño */
  object-fit: cover; /* Recorta la imagen si es necesario para mantener la proporción */
}

.card-body Button{
  margin: 5px 0; /* Espaciado vertical entre los botones */
  width: 100%; /* Opcional: hace que los botones ocupen todo el ancho */
}

.card-body-content {
  background-color: #fffacd; /* Fondo amarillo claro */
  padding: 20px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

